textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-color: inherit;
}


body {
    margin: 0 20px;
}

header {
    height: 80px;
}

h1 {
    color: #4b0082;
    padding-top: 15px;
    font-weight: bold;
}

h3.room-name {
    color: #4b0082;
    text-align: center;
    border-bottom: solid 1px #4b0082;
    margin-right: 15px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

h4 {
    color: #4b0082;
    font-size: 1.2em;
}

.participant {
    margin: 10px 0;
    font-weight: bold;
    color: #777;
}
p {
    margin: 10px;
}

.message {
    background: #eeefff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    -webkit-box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    display: table;
    color: #392b44;
}

.message-spacer {
    height: 20px;
}

.message-meta {
    font-size: .8em;
    color: #d4d4d4;
    margin-bottom: -12px;
}

.message-meta .from {
    font-weight: bold;
    color: #6c0082;
}

#user-count-badge {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

.btn.btn-primary,
.btn.btn-primary:active,
.dropdown-item:active,
.badge-primary {
    background-color: #4b0082 !important;
    border-color: #6c0082 !important;
    outline: none;
}

#message-form {
    padding-bottom: 15px;
    height: 100px;
}

/* Flex */

.main-container {
    height: 100vh;
    /* or position:absolute; height:100%; */
    display: flex;
    flex-direction: column;
}

/* this is the flex container that will take the rest of the height */
.content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
    padding: 20px 0;
}

.chat__messages {
    flex: 1;
    overflow: auto;
}

.chat__sidebar {
    width: 200px;
    border-right: solid .5px #eee;
    
    overflow: auto;
}