textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-color: inherit;
}


body {
    margin: 0 20px;
}

header {
    height: 80px;
}

h1 {
    color: #4b0082;
    padding-top: 15px;
    font-weight: bold;
}

p {
    margin: 10px;
}

.message {
    background: #eeefff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    -webkit-box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 25px -15px rgba(0, 0, 0, 0.4);
    display: table;
    color: #392b44;
}

.message-spacer {
    height: 20px;
}

.timestamp {
    font-size: .8em;
    color: #d4d4d4;
    margin-bottom: -12px;
}

.btn.btn-primary,
.btn.btn-primary:active,
.dropdown-item:active {
    background-color: #4b0082 !important;
    border-color: #6c0082 !important;
    outline: none;
}

#message-form {
    padding-bottom: 15px;
    height: 100px;
}

/* Flex */

.main-container {
    height: 100vh;
    /* or position:absolute; height:100%; */
    display: flex;
    flex-direction: column;
}

/* this is the flex container that will take the rest of the height */
.content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
}

/* the container for our overflowed content */
.overflow-container {
    flex: 1;
    overflow: auto;
}